<% provide(:title, 'All devices') %>
<h1>All devices</h1>
<ul class="devices">
  <% @devices.each do |device| %>
    <li>
      <%= link_to device.name, device %>
    </li>
  <% end %>
</ul>
<% if user_permission_id?(current_user) && !current_user?(@user) %>
  <%= link_to 'New device', new_device_path %>
<% end %>