<% provide(:title, 'All devices') %>
<h1>All devices</h1>
<ul class="devices">
  <% @devices.each do |device| %>
    <li>
      <%= link_to device.name, device %>
    </li>
  <% end %>
</ul>
<%= link_to 'New device', new_device_path %>