<% provide(:title, 'All departments') %>
<h1>All departments</h1>
<ul class="departments">
  <% @departments.each do |department| %>
    <li>
      <%= link_to department.name, department %>
    </li>
  <% end %>
</ul>
<%= link_to 'New department', new_department_path %>